{% extends 'Manage/manage_temp.html' %}

{% block form %}
<ol class="breadcrumb">
  <li><a href="#">管理面板</a></li>
  <li><a href="#">班级基本信息</a></li>
  <li class="active">新建班级</li>
</ol>
<div class="panel panel-default">
  <div class="panel-heading">新增班级信息<div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-question-sign"></i></div></div>
  <div class="panel-body">
	<form role="form">
	  <div class="form-group">
		<label>班级编号</label>
		<input type="text" class="form-control" id="teacherId" placeholder="请输入班级编号">
	  </div>
	  <div class="form-group">
		<label>班级人数</label>
		<input type="text" class="form-control" id="teacherName" placeholder="请输入班级人数">
	  </div>
	  <div class="form-group">
		<label>教师编号</label>
		<input type="email" class="form-control" id="" placeholder="教师编号">
	  </div>
	  <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> 新增</button>
	  <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
	</form>
  </div>
</div>
{% endblock  %}

{% block script %}{% endblock script %}
