{% extends 'Manage/manage_temp.html' %}

{% block form %}
<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> <a href="#">教师权限管理</a>/定义权限</h3>
    </div>

    <div class="panel-body">
      <form class="form-inline" role="form" style="float:left;">
        <div class="form-group has-feedback">
          <div class="input-group">
            <div class="input-group-addon">查询条件</div>
            <input class="form-control has-success" type="text" placeholder="请输入查询条件" name="ask">
          </div>
        </div>
        <button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i> 查询</button>
      </form>	

      <button type="button" class="btn btn-danger" style="float:right;margin-left:10px;"onclick="window.location.href='/manage/auth/teacher'"><i class=" glyphicon glyphicon-remove"></i> 返回</button>
      
      <br>
      <hr style="clear:both;">

      <div class="table-responsive">
      <table class="table  table-bordered">
        <thead>
          <tr>
            <th>权限编号</th>
            <th>权限名称</th>
            <th>权限信息</th>
            <th width="100">操作</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in n1 %}
            <td>{{ obj.authNo }}</td>
            <td> {{ obj.authName}}</td>
            <td> {{ obj.teacherNo}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-xs" onclick="window.location.href='/manage/authteacher/delete?id={{ obj.authNo }}&nid={{ obj.teacherNo }}'"><i class=" glyphicon glyphicon-pencil"></i>删除该权限</button>
            </td>
           </tr>
          {% endfor %}				  	
        </tbody>
        <tfoot>
           <tr >
               <td colspan="6" align="center">
                  <ul class="pagination">
                          <li class="disabled"><a href="#">上一页</a></li>
                          <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li><a href="#">下一页</a></li>
                       </ul>
               </td>
           </tr>
        </tfoot>				  
        </table>
      </div>						  	

    </div>

</div>
{% endblock form %}

{% block script %}

{% endblock script %}



