{% extends 'Manage/manage_temp.html' %}

{% block form %}
<div class="panel panel-default">
	<div class="panel-heading">
	  <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 教师信息列表</h3>
	</div>

	<div class="panel-body">
	  <form class="form-inline" role="form" style="float:left;">
		<div class="form-group has-feedback">
		  <div class="input-group">
			<div class="input-group-addon">查询条件</div>
			<input class="form-control has-success" type="text" placeholder="请输入教师姓名查询" name="ask">
		  </div>
		</div>
		<button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i> 查询</button>
	  </form>	

	  <button type="button" class="btn btn-primary" style="float:right;" onclick="window.location.href='/addteacher'"><i class="glyphicon glyphicon-plus"></i> 新增</button>
	  <br>
	  <hr style="clear:both;">

	  <div class="table-responsive">
	  <table class="table  table-bordered">
		<thead>
		  <tr >
			<th id="teacherNo">教师编号</th>
			<th id="teacherName">教师姓名</th>
			<th id="user">用户名</th>
			<th id="password">密码</th>
			<th width="100">操作</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			  {% for obj in n1 %}
			  <tr>
				  <td>{{ obj.teacherNo }}</td>
				  <td>{{ obj.name }}</td>
				  <td>{{ obj.user }}</td>
				  <td>{{ obj.password }}</td>
				  <td>
					<button type="button" class="btn btn-primary btn-xs" onclick="window.location.href='/manage/teacher/{{ obj.teacherNo }}/modify'"><i class=" glyphicon glyphicon-pencil"></i></button>
					<button type="button" class="btn btn-danger btn-xs " onclick="window.location.href='/manage/teacher/delete/?nid={{ obj.teacherNo }}'"><i class=" glyphicon glyphicon-remove"></i></button>
				</td>
			  </tr>	
			  {% endfor %}	
		  </tr>						  	
		</tbody>
		<tfoot>
		   <tr >
			   <td colspan="6" align="center">
				  <ul class="pagination">
						  <li class="disabled"><a href="#">上一页</a></li>
						  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
						  <li><a href="#">2</a></li>
						  <li><a href="#">3</a></li>
						  <li><a href="#">4</a></li>
						  <li><a href="#">5</a></li>
						  <li><a href="#">下一页</a></li>
					   </ul>
			   </td>
		   </tr>
		</tfoot>				  
		</table>
	  </div>						  	

	</div>

</div>
{% endblock  %}

{% block script %}{% endblock script %}

