{% extends 'Manage/manage_temp.html' %}

{% block form %}
<div class="panel panel-default">
	<div class="panel-heading">
	  <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 学生信息列表</h3>
	</div>

	<div class="panel-body">
	  <form class="form-inline" role="form" style="float:left;">
		<div class="form-group has-feedback">
		  <div class="input-group">
			<div class="input-group-addon">查询条件</div>
			<input class="form-control has-success" type="text" placeholder="请输入学生姓名" name="ask" >
		  </div>
		</div>
		<button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i> 查询</button>
	  </form>	

	  <button type="button" class="btn btn-primary" style="float:right;" onclick="window.location.href='/addstudent'"><i class="glyphicon glyphicon-plus"></i> 新增</button>
	  <br>
	  <hr style="clear:both;">

	  <div class="table-responsive">
	  <table class="table  table-bordered">
		<thead>
		  <tr >
			<th id="studentNo">学生学号</th>
			<th id="studentName">学生姓名</th>
			<th id="password">学生密码</th>
			<th id="photo">学生照片</th>
			<th width="100">操作</th>
		  </tr>
		</thead>
		<tbody>
		  {% for obj in n1 %}
		  <tr>
			  <td>{{ obj.studentNo }}</td>
			  <td>{{ obj.name }}</td>
			  <td>{{ obj.password }}</td>
			  <td><img src="../../../media/photos/{{ obj.img_name }}" style="width:90px;height: 90px;"></td>
			  <td>
				<button type="button" class="btn btn-primary btn-xs" onclick="window.location.href='/manage/student/{{ obj.studentNo }}/modify'"><i class=" glyphicon glyphicon-pencil"></i></button>
				<button type="button" class="btn btn-danger btn-xs"  onclick="window.location.href='/manage/student/delete/?nid={{ obj.studentNo }}'"><i class=" glyphicon glyphicon-remove"></i></button>
			</td>
		  </tr>	
		  {% endfor %}			  	
		</tbody>
		<tfoot>
		   <tr >
			   <td colspan="6" align="center">
				  <ul class="pagination">
						  <li class="disabled"><a href="#">上一页</a></li>
						  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
						  <li><a href="#">2</a></li>
						  <li><a href="#">3</a></li>
						  <li><a href="#">4</a></li>
						  <li><a href="#">5</a></li>
						  <li><a href="#">下一页</a></li>
					   </ul>
			   </td>
		   </tr>
		</tfoot>				  
		</table>
	  </div>						  	

	</div>

</div>
{% endblock  %}

{% block script %}{% endblock script %}
