{% extends 'Manage/modify_temp.html' %}

{% block form %}
  <ol class="breadcrumb">
	<li><a href="/manage/">管理面板</a></li>
	<li><a href="/managestudent/">学生基本信息</a></li>
	<li class="active">修改学生信息</li>
  </ol>
  <div class="panel panel-default">
	<div class="panel-heading">修改学生信息<div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-question-sign"></i></div></div>
	<div class="panel-body">
	  <form role="form" method="post" enctype="multipart/form-data">
		  {% csrf_token %}
			<div class="form-group">
			  <label for="studentNo">学生号</label>
			  <input type="text" class="form-control"   name="studentNo" value="{{ nid }}">
			</div>
		<div class="form-group">
		  <label for="studentName">学生姓名</label>
		  <input type="text" class="form-control"   name="name" value="{{ n1.name }}">
		</div>
		<div class="form-group">
		  <label for="studentName">学生密码</label>
		  <input type="text" class="form-control"  name="password" value="{{ n1.password }}">
		</div>
		<div class="form-group">
		  <label for="photo">学生照片</label>
		  <input type="file" name="img">
		</div>
		<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> 修改</button>
	  </form>
	</div>
  </div>
{% endblock form %}

{% block script %}
<script>
	$(function(){
		var loc = location.href;
		var n1 = loc.length;
		var n2 = loc.indexOf('=');
		var str = loc.slice(n2+1,n1);
		console.log("Qid=" + str);
		if (str=="1"){
			alert("没有图片！");
		}		
	})
</script>
{% endblock script %}


