{% extends 'Manage/modify_temp.html' %}

{% block form %}
  <ol class="breadcrumb">
	<li><a href="/manage/">管理面板</a></li>
	<li><a href="/managecourse/">课程基本信息</a></li>
	<li class="active">修改课程</li>
  </ol>
  <div class="panel panel-default">
	<div class="panel-heading">修改课程信息<div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-question-sign"></i></div></div>
	<div class="panel-body">
	  <form role="form" method="post">
		  {% csrf_token %}
			<div class="form-group">
			  <label for="courseName">课程号</label>
			  <input type="text" class="form-control" id="courseNo"  value="{{ nid }}" name="courseNo">
			</div>
		<div class="form-group">
		  <label for="courseName">课程名称</label>
		  <input type="text" class="form-control" id="courseName"  value="{{ n1.courseName }}" name="courseName">
		</div>
		<div class="form-group">
		  <label for="grade">开课年级</label>
		  <input type="text" class="form-control" id="grade" value="{{ n1.grade }}" name="grade" >
		</div>
		<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> 修改</button>
	  </form>
	</div>
  </div>
{% endblock form %}

{% block script %}{% endblock script %}






