<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册界面</title>
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/main.css">
  </head>

  <body>
  	<div class="container">
  		<!-- 网站头部 -->
		    <div class="row">
		   	 	<div class="col-xs-12" style="border: 2px soid blueviolet;">
		   	 		<h1>欢迎来到XX在线学习平台</h1>
		   	 	</div>
		   	</div> 

		   	 
		   	<!-- 导航条 -->
		   	<nav class="navbar navbar-inverse">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <ul class="nav navbar-nav">
				 		<li><a href="\login">登录入口</a></li>
				      	<li class="active"><a href="#">用户注册</a></li>
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多<span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="#">帮助信息</a></li>
				            <li role="separator" class="divider"></li>
				          </ul>
				        </li>
				    </ul>
				 </div>				 
			</nav>


		   	<!-- 注册页面主体-->
		   	<div class="row" style="height: 300px; background-image: url(../static/img/bgtp.gif)">
		   	 	<div class="col-sm-4 col-sm-offset-8" style="height: 300px;border:5px solid gainsboro;background-color:whitesmoke;">
		   	 		<!-- 表单部分 -->

						<form role="form" method="post" enctype="multipart/form-data">
							{% csrf_token %}
						  <div class="form-group">
							<label for="studentNo">学生学号</label>
							<input type="text" class="form-control"  placeholder="请输入学生学号" name="studentNo">
						  </div>
						  <div class="form-group">
							<label for="studentName">学生姓名</label>
							<input type="text" class="form-control"  placeholder="请输入学生姓名" name="name">
						  </div>
						  <div class="form-group">
							<label for="studentName">学生密码</label>
							<input type="text" class="form-control"  placeholder="请输入学生密码" name="password">
						  </div>
						  <div class="form-group">
							<label for="photo">学生照片</label>
							<input type="file" name="img">
						  </div>
						  <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> 新增</button>
						</form>
						<div><span style="color:red;">{{error_msg}}</span></div>
						
						<div class="form-group list-inline">
						    <div class="col-sm-12 col-sm-offset-5 list-inline">						    	
						        <input type="submit" class="btn btn-primary btn-lg" value=" 注 册 "/>
						    </div>
						</div>
					</form>
		   	 	</div>
		   	</div>
		    <!-- 网站底部 -->
		   	<div class="row">
		   	 	<div class="col-xs-12">

		   	 	</div>
		   	</div>
	</div>
	<script src="../static/jquery/jquery-2.1.1.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
	<script src="../static/script/docs.min.js"></script>	
    </body>
</html>
