<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册界面</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </head>

  <body>
  	<div class="container">
  		<!-- 网站头部 -->
		    <div class="row">
		   	 	<div class="col-xs-12" style="border: 2px soid blueviolet;">
		   	 		<h1>欢迎来到XX在线学习平台</h1>
		   	 	</div>
		   	</div> 

		   	 
		   	<!-- 导航条 -->
		   	<nav class="navbar navbar-inverse">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <ul class="nav navbar-nav">
				      	<li class="active"><a href="#">注册页面</a></li>
				      	<li ><a href="TeacherLogin.html">xxxxx</a></li>

				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多<span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="#">帮助信息</a></li>
				            <li><a href="#">。。。。</a></li>
				            <li role="separator" class="divider"></li>
				          </ul>
				        </li>
				    </ul>

				    <form class="navbar-form navbar-right" role="search">
				        <div class="form-group">
				          <input type="text" class="form-control" placeholder="Search">
				        </div>
				        <button type="submit" class="btn btn-default">Submit</button>
				    </form>
				 </div>
				 
			</nav>


		   	<!-- 注册页面主体-->
		   	<div class="row" style="height: 300px; background-image: url(../static/img/bgtp.gif)">
		   	 	<div class="col-sm-4 col-sm-offset-8" style="height: 300px;border:5px solid gainsboro;background-color:whitesmoke;">
		   	 		<!-- 表单部分 -->

		   	 		<form class="form-horizontal" onsubmit="return checkForm()"  style="color:;">
		   	 			{% csrf_token %}
		   	 			<div class="row" style="padding-top: 20px;">
			   	 			<div class="col-sm-8 col-sm-offset-1">
			   	 				<font color="#204D74" size="6">注册信息</font>
			   	 			</div>
			   	 		</div>
						<div id="usernameDiv" class="form-group" style="padding-top: 20px;">
						    <label class="col-sm-3 control-label">账号</label>
						    <div class="col-sm-8">
						        <input type="text" class="form-control" id="username" name="username" placeholder="请输入账号">
						    </div>
						    <label id="usernameMsg" class="col-sm-2 control-label"></label>
						</div>
						  
						<div id="passwordDiv" class="form-group">
						    <label class="col-sm-3 control-label">密码</label>
						    <div class="col-sm-8">
						        <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
						    </div>
						    <label id="passwordMsg" class="col-sm-2 control-label"></label>
						</div>

						<div id="passwordDiv" class="form-group">
						    <label class="col-sm-3 control-label">确认密码</label>
						    <div class="col-sm-8">
						        <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
						    </div>
						    <label id="passwordMsg" class="col-sm-2 control-label"></label>
						</div>

						<div><span style="color:red;">{{error_msg}}</span></div>
						
						<div class="form-group list-inline">
						    <div class="col-sm-12 col-sm-offset-5 list-inline">						    	
						        <input type="submit" class="btn btn-primary btn-lg" value=" 注 册 "/>
						    </div>
						</div>
					</form>
		   	 	</div>
		   	</div>
		    <!-- 网站底部 -->
		   	<div class="row">
		   	 	<div class="col-xs-12">
		   	 		<img src="#"/>	
		   	 	</div>
		   	</div>
		   	<div class="row">
		   	 	<div class="col-xs-12 text-center">
		   	 		<ul class="list-inline">
		   	 			<li><a href="">校园官网</a></li>
		   	 			<li><a href="">帮助手册</a></li>
		   	 			<li><a href="">信息化办公室</a></li>
		   	 		</ul>
		   	 	</div>
		   	</div>
		   	<div class="row">
		   	 	<div class="col-xs-12 text-center">
		   	 		Copyright © XXX版权所有 
		   	 	</div>
		   	</div>
	</div>
		   
    </body>
</html>
